@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Armenian:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');


img {
    width: 200px;
    height: 200px;
}


body {
    background-color: antiquewhite;
}



main {
    padding: 16px; /* top, right, bottom, left */
    font-family: 'Cinzel Decorative', cursive;
}


nav {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 16px;
    background-color: lightslategrey;
}


nav a {
    color:rgb(255, 255, 255);
}


footer {
    padding: 30px 0px 30px 16px;
    background-color: burlywood;
    margin-top: 20px;
}


body {
    margin: 0px;
}


.grey-background {
    background-color: rgb(201, 192, 192);
}


h3 a {
    color:rgb(5, 6, 6);
}


a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    color: rgb(196, 212, 232);
}


a:active {
    text-decoration: none;
}


.grid-maker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.item1 {
    grid-column-start: 1;
}


.item2 {
    grid-column-start: 2;
}


.item3 {
    grid-column-start: 3;
}


.item4 {
    grid-column-start: 4;
}


.item5 {
    grid-column-start: 1;
}
